.generateImage{
  display: unset;
  .titleGenerate{
    font-size: 14px;
    color: #868686;
    margin: 150px 10px 0;
  }
  .btnSurprise{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    padding: 5px;
    background-color: #ececf1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      opacity: 0.6;
    }
  }
  .generate{
    margin: 15px;
    position: sticky;  
    top: 80px;    
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .input{
      padding: 10px;
      border: none;
      flex: 1;
      border-radius: 5px 0 0 5px;
    }
    .btnGenerate{
      background-color: white;
      color: #868686;
      font-weight: 500;
      width: 100px;
      padding: 10px;
      border: none;
      border-left: 1px solid gray;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 18px;
      &:hover{

      }
    }
  }
}