.home{
  
  width: 100%;
  .main{
    .container{
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      .player-bg{
        z-index: -10;
      }
    }

    .coat{
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .wrapper{
      z-index: 10;
      position: absolute;
      max-width: 50%;
      bottom: 15%;
      left: 10%;
      
      .title{
        display: flex;
        text-shadow: 1px 1px 3px #888;
        color: black;
        font-size: 3vw;
        font-family: Montserrat, serif;
        font-weight: 600;
        line-height: 1.2em;
      }

      .btn{
        font-size: max(1.2vw, 10px);
        margin-top: 20px;
        .btn-video{
          color: black;
          border: none;
          border-radius: 1vw;
          background-color: aliceblue;
          padding: 5px 10px;
          margin-right: 20px;
          
        }
        .btn-view{
          color: white;
        }

        
      }


    }
  }

  .main::before{
    content: "";
    display: block;
    padding-top: 53%;
  }
}