.post{
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	background-color: #ffadad;
  
	.headerPost{
		display: flex;
		justify-items: center;
		gap: 20px;
		.avatar{
			
			img{
				width: 40px;
				height: 40px;
				border: none;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		.creator{
			p{
				font-size: 16px;
				font-weight: bold;
			}
			.time{
				font-size: 12px;
			}
		}
	}

	.postBody{
		display: flex;
		gap: 20px;

		.photo{
			width: 300px;
			height: 300px;
			margin: 10px 0 0 0;
			
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
				border: 1px solid #ffffff;
				border-radius: 10px;
				background-color: #ffffff;
			}
			@media (max-width: 720px) {
				margin: 10px auto;
			}
		}

		.content{
			display: flex;
			gap: 10px;
			flex: 1;
			flex-direction: column;
			// margin-left: 20px;
			.title{
				font-size: 28px;
				font-weight: 500;
        font-family: "Montserrat";
			}

			.desc{
				text-align: justify;
				color: #5d5d5d;
			}

		}

		@media (max-width: 720px) {
			flex-direction: column;
		}
	}

}

.green{
	background-color: #baffad;
}

.blue{
	background-color: #adb5ff;
}

.red{
	background-color: #ffadad;
}

.yellow{
	background-color: #f8eda5;
}

.orange{
  background-color: #fecea4;
}
