.card{
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	background-color: #ffadad;
  
	.headerCard{
		display: flex;
		justify-items: center;
		gap: 20px;
		.avatar{
			
			img{
				width: 40px;
				height: 40px;
				border: none;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		.creator{
			p{
				font-size: 16px;
				font-weight: bold;
			}
			.time{
				font-size: 12px;
			}
		}
	}

	.cardBody{
		display: flex;
		flex-direction: row;
		margin-top: 20px;
		.photo{
			width: 320px;
			height: 320px;
			
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
				border: 1px solid #ffffff;
				border-radius: 10px;
				background-color: #ffffff;
			}
			@media (max-width: 720px) {
				margin: auto;
			}
		}

		.content{
			flex: 1;
			flex-direction: column;
			margin-left: 20px;
			.title{
				font-size: 30px;
				font-weight: bold;
			}

			.desc{
				text-align: justify;
				color: #5d5d5d;
			}

		}

		@media (max-width: 720px) {
			flex-direction: column;
		}
	}

}

.green{
	background-color: #baffad;
}

.blue{
	background-color: #adb5ff;
}

.red{
	background-color: #ffadad;
}

.yellow{
	background-color: #f8eda5;
}

.orange{
  background-color: #fecea4;
}
