.navbar{
  justify-content: center;
  backdrop-filter: blur(5px);
  color: white;


  .container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .sep{
      margin: auto;
      height: 40px;
      font-size: 14px;
      background-color: white;
      opacity: 0.4;
    }

    .logo{
      padding: 20px;
      width: 130px;
      object-fit: contain;
      img{
        width: 100%;
      }
    }
    .menu-nav{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      span{
        padding: 20px;
        font-size: 18px;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
      }

      .hover{
        color: black;
      }

      .links{
      }

      .auth{
        margin-right: 10px;
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          position: relative;
  
          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .options {
            position: absolute;
            top: 64px;
            right: 0;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            z-index: 999;
            border: 1px solid lightgrey;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 160px;
            font-weight: 300;
            color: gray;
          }
        }
        
        .signIn{
          color: white;
          padding: 10px 20px;;
        }

        button {
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          border: 1px solid white;
          background-color: transparent;
          cursor: pointer;
  
          &:hover {
            background-color: #0033ff;
            border-color: white;
          }
        }
      }
    }

    .menu-nav-mobile{
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      img{
        padding: 15px;
        width: 66px;
        height: 66px;
      }
    }
  }

  .options{
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-weight: 400;
    padding: 20px;
    gap: 10px;
    color: white;
    border-top: 1px solid gray;

    .hover{
      color: black;
    }
  }
}