.backToTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
}

.backTo{
  display: none;
  position: fixed;
  bottom: 50px;
  left: calc(50% - 30px);
  width: 0;
  object-fit: contain;
  cursor: pointer;
}

.visible {
  width: 60px;
  display: block;
}
